* {
    margin:0;
    padding:0;
    font-family: 'Baloo Paaji 2', cursive;
    box-sizing: border-box;
}

body strong {
    color:#6ab04c;

}

#header {
    width:100%;
    height:800px;
}

.cover {
    background-image:url(img/1.jpg) ;
    background-size:cover; 
    width: 100%; 
    height: 100%; 
    background-position: center center; 
    background-repeat: no-repeat;
}


.cover p, .cover span {
    font-family: 'Anton', cursive;
    color:white;
    font-size: 80px;
    padding:176px 0 22px 100px;

}


#about {
    
    padding: 80px 0;
}

#about h4 {
    
    font-size:20px;
    font-weight: 500;
    
}

.services-section {
    width: 100%;
    margin:100px 0;
    padding:0 0 100px;
   
}

.inner-width {
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}

.services-section h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
}


.service {
    text-align:center;
    margin:20px 0;
}

.service-icon {
    width:60px;
    height:60px;
    margin:auto;
    background: #ecf6ff;
    border-radius: 50%;
    color:#6ab04c;
    line-height: 60px;
    font-size:25px
}

.service-name {
    font-weight: 600;
    font-size:18px;
    margin:20px 0;
}

.service-desc {
    max-width: 400px;
    margin:auto;
    color:#333;
    font-size:17px;
}

.owl-dots {
    text-align: center;
    margin-top:40px;

}

.owl-dot{
    width:14px;
    height:14px;
    background:#808080 !important;
    margin: 0 6px;
    border-radius: 14px;
    outline: none;
    transition: .3s linear;

}

.owl-dot.active {
    width: 36px;
    background: #6ab04c !important;
}

.owl-dot:hover {
    width:36px;
    background: #6ab04c !important;
}

.navbar {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    letter-spacing: 2px;
}

.nav-item {
    padding:10px;
}

.nav-item a:hover {
    color:black;
    -webkit-transition: all 0.2s ease ;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -transition: all 0.2s ease;
    
}


.nav-link {
    color:black;
    font-weight: 500;
}
.navbar-brand {
    color:white;
    font-weight: 700;
}

.navbar-toggler-icon {
	background-image: url(./img/hamberger.png);
    background-size: 100%;
}

.fa-youtube-square,.fa-github-square {
    font-size:40px;
}

.fa-youtube-square {
    color:red;
}

.fa-github-square {
    color: black;
}

.title {
    width: 100%;
    text-align: center;
    padding:10px 0 0;
    font-size:32px;
    font-weight: 500;
    margin-bottom: 80px;
}


.tab {
    width:100%;
    text-align: center;
    
}
.tabs li {
    
    cursor: pointer;
    display: inline;
    margin:0 5px;
    padding:15px;
    border-radius: 10px;
    border-width: 1px;
    color: #6ab04c;
    font-weight: 700;
    background-color:white;
    letter-spacing: 2px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -transition: all 0.1s ease;
}

.tabs li:hover {
    background-color: #6ab04c;
    color:white;
}

.listContainer {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.box_wrap {
    width:100%;
    position: relative;
}

.box_wrap li {

    margin-bottom: 30px;
    padding:20px 5px 0;
    float:left;
    list-style: none;
}

.box_wrap .list {
    position: relative;
    display: block;
    overflow: hidden;
}


.tabs .active {
    background-color: #6ab04c;
    color:white;
}


.list img {
    width:100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s; 
    margin:0;
    padding:0; 
}

.imageCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}


.list .icons {

    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
   

}

.list .icons a {
    color:#6ab04c;
    padding:5px 10px 5px;
    border-radius: 10px;
    
}


.list:hover .imageCover {
    opacity: 1;
}


.list .icons .btnBig {
    font-size: 20px;
    float:left;
    margin-left:-200px;
    background-color: white;
}

.list .icons .projectLink {
    background-color: white;

    font-size: 20px;
    float:right;
    margin-right:-200px;
}

.list:hover .btnBig {
    margin-left:0;
}

.list:hover .projectLink {
    margin-right:0;
}



#contact {
    padding:100px 0;
    text-align: center;
}

#contact .form-control {
    width:50%;
    height:auto;
    margin:0 auto;
    border-style: none;
    border-bottom: solid #6ab04c;
}

.footer {
    margin:0;
    padding:23px 0 10px 0 ;
    background-color: #6ab04c;
    width: 100%;
    text-align: center;
}

.footer strong {
    color:white;
}